@media only screen and (max-width: 1200px){
.container{
	height: 800px;
	width: 1010px;
}
	.firstimg{
	height: 350px;
	width:	489px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 350px;
	width:	489px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 40px;}
.b{
	font-family: cursive;
	font-size: 40px}
}
@media only screen and (max-width: 992px){
.container{
	height: 800px;
	width: 785px;
}
	.firstimg{
	height: 320px;
	width:	380px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 320px;
	width:	380px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 35px;}
.b{
	font-family: cursive;
	font-size: 35px}
}
@media only screen and (max-width: 768px){
.container{
	height: 800px;
	width: 505px;
}
	.firstimg{
	height: 270px;
	width:	245px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 270px;
	width:	245px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 25px;}
.b{
	font-family: cursive;
	font-size: 25px}

}
@media only screen and (max-width: 480px){
.container{
	height: 800px;
	width: 343px;
}
	.firstimg{
	height: 170px;
	width:	160px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 170px;
	width:	160px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 20px;}
.b{
	font-family: cursive;
	font-size: 20px}
}
@media only screen and (max-width: 320px){
.container{
	height: 800px;
	width: 279px;
}
	.firstimg{
	height: 100px;
	width:	138px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 100px;
	width:	138px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 10px;}
.b{
	font-family: cursive;
	font-size: 10px}

}
