.tt{
	float: left;
	margin-top: 0px;
	text-align: center;
	max-width: 50%;
	margin-top: 35px;
}

.tt1{
	float: right;
	text-align: center;
	max-width: 50%;
}
.tt img{
max-width: 100%;
float: left;
object-fit: cover:;}

.tt1 img{
max-width: 100%;
float: right;
object-fit: cover ;
}

.ah{
	font-family: cursive;}
.bh{
	font-family: cursive;}


