@media only screen and (max-width: 1200px){
.container{
	height: 800px;
	width: 1180px;
}
	.firstimg{
	height: 350px;
	width:	570px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 350px;
	width:	570px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 30px;}
.b{
	font-family: cursive;
	font-size: 30px}
}
@media only screen and (max-width: 992px){
.container{
	height: 800px;
	width: 950px;
}
	.firstimg{
	height: 290px;
	width:	450px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 290px;
	width:	460px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 30px;}
.b{
	font-family: cursive;
	font-size: 30px}
}
@media only screen and (max-width: 768px){
.container{
	height: 800px;
	width: 750px;
}
	.firstimg{
	height: 290px;
	width:	360px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 290px;
	width:	360px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 40px;}
.b{
	font-family: cursive;
	font-size: 40px}

}
@media only screen and (max-width: 480px){
.container{
	height: 800px;
	width: 460px;
}
	.firstimg{
	height: 200px;
	width:	220px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 200px;
	width:	220px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 30px;}
.b{
	font-family: cursive;
	font-size: 30px}
}
@media only screen and (max-width: 320px){
.container{
	height: 800px;
	width: 290px;
}
	.firstimg{
	height: 100px;
	width:	130px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 100px;
	width:	130px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 20px;}
.b{
	font-family: cursive;
	font-size: 20px}

}
