@media only screen and (max-width: 1200px){
.container{
	height: 800px;
	width: 990px;
}
	.firstimg{
	height: 350px;
	width:	483px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 350px;
	width:	483px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 30px;}
.b{
	font-family: cursive;
	font-size: 30px}
}
@media only screen and (max-width: 992px){
.container{
	height: 800px;
	width: 843px;
}
	.firstimg{
	height: 320px;
	width:	408px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 320px;
	width:	408px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 30px;}
.b{
	font-family: cursive;
	font-size: 30px}
}
@media only screen and (max-width: 768px){
.container{
	height: 800px;
	width: 690px;
}
	.firstimg{
	height: 270px;
	width:	338px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 270px;
	width:	338px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 25px;}
.b{
	font-family: cursive;
	font-size: 25px}

}
@media only screen and (max-width: 480px){
.container{
	height: 800px;
	width: 380px;
}
	.firstimg{
	height: 160px;
	width:	185px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 160px;
	width:	185px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 20px;}
.b{
	font-family: cursive;
	font-size: 20px}
}
@media only screen and (max-width: 320px){
.container{
	height: 800px;
	width: 279px;
}
	.firstimg{
	height: 100px;
	width:	138px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 100px;
	width:	138px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 10px;}
.b{
	font-family: cursive;
	font-size: 10px}

}
