@media only screen and (max-width: 1200px){
.container{
	height: 800px;
	width: 1100px;
}
	.firstimg{
	height: 350px;
	width:	540px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 350px;
	width:	550px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 30px;}
.b{
	font-family: cursive;
	font-size: 30px}
}
@media only screen and (max-width: 992px){
.container{
	height: 800px;
	width: 900px;
}
	.firstimg{
	height: 290px;
	width:	420px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 290px;
	width:	430px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 30px;}
.b{
	font-family: cursive;
	font-size: 30px}
}
@media only screen and (max-width: 768px){
.container{
	height: 800px;
	width: 690px;
}
	.firstimg{
	height: 290px;
	width:	320px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 290px;
	width:	330px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 40px;}
.b{
	font-family: cursive;
	font-size: 40px}

}
@media only screen and (max-width: 480px){
.container{
	height: 800px;
	width: 390px;
}
	.firstimg{
	height: 200px;
	width:	190px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 200px;
	width:	190px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 30px;}
.b{
	font-family: cursive;
	font-size: 30px}
}
@media only screen and (max-width: 320px){
.container{
	height: 800px;
	width: 256px;
}
	.firstimg{
	height: 100px;
	width:	120px;
	border-radius: 16%;
	padding: -30px;
}
.secondimg{
	height: 100px;
	width:	120px;
	border-radius: 16%;
}
.a{
	font-family: cursive;
	font-size: 20px;}
.b{
	font-family: cursive;
	font-size: 20px}

}
