.tt{
	float: left;
	text-align: center;
	max-width: 45%;
	
}
.tt1{
	float: right;
	text-align: center;
	max-width: 45%;

	
}
.tt img{
	max-width: 100%;
	float: left;
	object-fit: cover:;
	border-radius: 10%;
}

.tt1 img{
max-width: 100%;
	float: right;
	object-fit: cover;
	border-radius: 10%;
}

.ah{
	font-family: cursive;
}
.bh{
	font-family: cursive;
}
h2{
	color: ghostwhite;}
h3{
	color: ghostwhite;
}
button{
 	background-color: rgb(153, 101, 0);
 	color: ghostwhite;
	width: 130px;}




