.container{
	height: 800px;
	width: 900px;
}
.tt{
	float: left;
	margin-top: 0px;
	text-align: center;
}

.tt1{
	float: right;
	margin-top: -34px;
	text-align: center;
}
.firstimg{
	height: 190px;
	width:	180px;
	border-radius: 16%;}

.secondimg{
	height: 190px;
	width:	180px;
	border-radius: 16%;
}

.ah{
	font-family: cursive;}
.bh{
	font-family: cursive;}

.ah.head{
	margin:-5px;}
.ah.head1{
	margin: 5px;}
.bh.head2{
	margin:-5px;}
.bh.head3{
	margin: 5px;}





