.container{
	height: 800px;
	width: 390px;

}
.tt{
	float: left;
	margin-top: 0px;
	text-align: center;
}

.tt1{
	float: right;
	margin-top: -34px;
	text-align: center;
}

.firstimg{
	height: 190px;
	width:	175px;
	border-radius: 16%;
	padding: -30px;
}
.firstimg:hover{
	transform: scale(1.2);
}
.secondimg{
	height: 190px;
	width:	175px;
	border-radius: 16%;
}
.secondimg:hover{
	transform: scale(1.1);
}
.a{
	font-family: cursive;}
.b{
	font-family: cursive;}

.a.head{
	margin:-5px;}
.a.head1{
	margin: 5px;}
.b.head2{
	margin:-5px;}
.b.head3{
	margin: 5px;}

