.tt{
	float: left;
	text-align: center;
	max-width: 45%;
	
}
.tt1{
	float: right;
	text-align: center;
	max-width: 45%;

	
}
.tt img{
	max-width: 100%;
	float: left;
	object-fit: cover:;
	border-radius: 10%;
}

.tt1 img{
max-width: 100%;
	float: right;
	object-fit: cover;
	border-radius: 10%;
}


h2{
	color: red;
	font-family: cursive;
	margin: 3px;

	}
h3{
	color: red;
	font-family: cursive;
	margin: 3px;
	padding: 7px;
}
a{
 	background-color: rgb(153, 101, 0);
 	color: ghostwhite;
 	padding: 7px 38px;
 	text-decoration: none;
 	border-radius: 15%;
 }






