body{
padding: 5px;}
.tt{
	float: left;
	text-align: center;
	max-width: 45%;
	padding: 25px;
}
.tt1{
	float: right;
	text-align: center;
	max-width: 45%;	
}
.tt img{
max-width: 100%;
float: left;
object-fit: cover:;
border-radius: 10%;
}

.tt1 img{
max-width: 100%;
float: right;
object-fit: cover;
border-radius: 10%;
}

.ah{
	font-family: cursive;
	margin: 6px;}
.bh{
	font-family: cursive;
	margin: 6px;}






