.tt{
	float: left;
	text-align: center;
	max-width: 48%;
	
}
.tt1{
	float: right;
	text-align: center;
	max-width: 48%;

}
.tt img{
	max-width: 100%;
	float: left;
	object-fit: cover:;
	border-radius: 10%;
	
}
.tt1 img{
	max-width: 100%;
	float: right;
	object-fit: cover;
	border-radius: 10%;
	

	
}
h2{
	color: ghostwhite;
	font-family: cursive;
	margin: 0px;
}
h3{
	color: ghostwhite;
	font-family: cursive;
	margin: 0px;
	padding-bottom: 9px;
	
}
.gig{
 	background-color: rgb(153, 101, 0);
 	color: ghostwhite;
 	padding: 7px 38px;
 	text-decoration: none;
 	border-radius: 10%;
 }

.gif{
	background:url('img/1.59.1.jpg') no-repeat; /* Заливаем блок статичной картинкой */
	max-width: 100%;
	float: left;
	object-fit: cover:;
	border-radius: 10%;
	background-position: left;
	background-size:100%;

}

/* Как видно, начальное (статическое) изображение задано как фон блока с шириной и высотой этого изображения. */

.gif img {
	max-width: 100%;
	float: left;
	object-fit: cover:;
	border-radius: 10%;
	visibility:hidden; /* Aнимация не была видна в ситуации, когда мышь не наведена */

}

.gif:hover {
	max-width: 100%;
	float: left;
	object-fit: cover:;
	border-radius: 10%;
	background:none; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

}

.gif:hover img {
	max-width: 100%;
	float: left;
	object-fit: cover:;
	border-radius: 10%;
	visibility:visible; /* При наведении анимация показывается */
	border:0; /* без обрамления ;) */
}
* {
  -webkit-tap-highlight-color: transparent;
}
.input-number {
position: relative;
display: inline-block;
}
 
.form-control.form-number {
width: 110px;
margin-right: 12px;
border: 1px solid transparent;
text-align: center;
height: 25px;
float: left;
background: #ccc;
}
 
.btn-count-minus {
position: relative;
bottom: 0;
}
.btn-count-plus {
text-align: center;
top: 0;
}
 
.btn-count {
position: absolute;
right: 0;
width: 30px;
height: 50%;
background: #60a645;
border-radius: 0;
text-align: center;
font-size: 14px;
color: #fff;
z-index: 9999;
cursor: pointer;
}
 
.btn-default {
font-size: 14px;
color: rgb(255, 255, 255);
font-weight: bold;
text-transform: uppercase;
vertical-align: top;
display: inline-block;
background-color: rgb(96, 166, 69);
padding: 0 30px;
border-radius: 3px;
}
 
.btn-default:hover{
background-color:#7ad258;
}
.btn-default {
height: 30px;
line-height: 30px;
}
 
a {
text-decoration: none;
}















